hash_scaner:
  on: true
  directories:
    - "/path/to/dir1"
    - "/path/to/dir2"
  exceptions:
    - "*/etc"
    - "*/target"
  cooldown: 60
telegram_bot:
  token: "your_bot_token_here"
  admin_chat: "123456789"