hash_scaner:
  on: true
  directories:
    - "/path/to/dir1"
    - "/path/to/dir2"
  exceptions:
    - "*/etc"
    - "*/target"
  cooldown: 300
ssh_detector:
  on: true
  log_file: "/var/log/auth.log"